/*-- scss:defaults --*/

@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap");

// fonts
$font-family-sans-serif: "Dosis", sans-serif !default;

// colors
$body-bg: #112307 !default;
$body-color: #c87a34 !default;
$link-color: #977342 !default;
$code-color: #b35025;
$code-block-border-color: none;
$code-block-bg: #232 !default;
$selection-bg: $link-color !default;
$selection-color: #fff !default;
$input-panel-bg: rgba(233, 236, 239, 0.2) !default;

// headings
$presentation-heading-font: "Istok Web", sans-serif !default;
$presentation-heading-font-weight: 700 !default;
$presentation-heading-color: #b35025;
$presentation-heading-text-shadow: 2px 2px 2px $body-bg !default;
$presentation-h1-font-size: 2em !default;
// $presentation-h1-text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb,
//  0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1),
//  0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
//  0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25),
//  0 6px 6px rgba(0, 0, 0, 0.15);
$presentation-heading-text-transform: none !default;

/*-- scss:rules --*/

.reveal p {
  font-weight: 300;
  text-shadow: 1px 1px $body-bg;
}

.reveal p code {
  display: inline-block;
  border-radius: 7px;
}

.reveal small code {
  vertical-align: baseline;
}

section.has-light-background {
  p,
  h1,
  h2,
  h3,
  h4 {
    text-shadow: none;
  }
}

.wrap {
  width: 100%;
  height: 600px;
  padding: 0;
  overflow: hidden;
}

.frame {
  width: 100%;
  height: 800px;
  border: 1px solid black;
}

.frame {
  -ms-zoom: 0.75;
  -moz-transform: scale(0.75);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.75);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.75);
  -webkit-transform-origin: 0 0;
}

.center-text {
  text-align: center;
}

.package-layout {
  position: relative;
  height: 100vh;
}

.div-center {
  transform: translateX(-50%) !important;
}

.div-left {
  transform: translateX(0%) !important;
}
